{{> menu active="about"}}

<section class="section">
  <div class="container">
    <div class="box has-background-link-light">
      <h1 class="title is-2 has-text-centered has-text-info">Welcome to Flea Markets!</h1>
      <p class="subtitle is-5">Flea Markets is an innovative platform that allows users to explore and discover flea markets around the world. With Flea Markets, you can easily store and access information about flea markets in various countries, including their names, descriptions, locations (latitude and longitude), and categories.</p>
      <p class="subtitle is-5">Our mission at Flea Markets is to provide a convenient and comprehensive solution for flea market enthusiasts to track their favorite markets and explore new ones. Whether you're a seasoned collector or just love the thrill of browsing unique finds, Flea Markets is your go-to resource.</p>
    </div>
  </div>
</section>