{{> menu}}

<div class="title mt-5">
  {{country.title}}
</div>
<section class="section">
  <div class="columns is-vcentered">
    <div class="column is-two-thirds">
      {{> list-markets}}
    </div>
    <div class="column">
      <div class="columns is-multiline">
        <div class="column is-full">
          {{> add-market}}
        </div>
        <div class="column is-full mt-3">
          {{> country-image}}
        </div>
      </div>
    </div>
  </div>
</section>










