{{> welcome-menu}}


<section class="section">
  <div class="container">
    <div class="columns is-vcentered is-centered">
      <div class="column is-two-thirds has-text-centered">
        <h1 class="title is-3">Sign up or Log in...</h1>
        <p class="subtitle is-5">Discover amazing flea markets around the world</p>
      </div>
      <div class="column">
        <figure class="image">
          <img src="/images/market-main.jpg" alt="Flea Market Image">
        </figure>
      </div>
    </div>
  </div>
</section>