<form class="box" action="/country/{{country._id}}/addmarket" method="POST">
  <label>Enter Market Details:</label>
  <div class="field is-horizontal">
    <div class="field-body">
      <div class="field">
        <input class="input" type="text" placeholder="Enter Market Name" name="title">
      </div>
      <div class="field">
        <input class="input" type="text" placeholder="Enter Description" name="description">
      </div>
      <div class="field">
        <input class="input" type="text" placeholder="Enter Location" name="location">
      </div>
    </div>
  </div>
  <button class="button is-primary">Add Market</button>
</form>